In [2]:
"hi" == "Hi"

False

In [3]:
"a" == "a"

True

In [5]:
a = 2
b = 1
a = b
print(a)

1

In [65]:
firstnumber = 23
second = 32
third = 64
together = firstnumber + second + third
print(together//3)
print(together/3)

39
39.666666666666664

In [66]:
1 == 2

False

In [67]:
print(type(1))

<class 'int'>

In [68]:
print(type("Hello"))

<class 'str'>

In [69]:
test = "hsdihdaosihdioah13689468386843943"
print(type(test))

<class 'str'>

In [70]:
dami = "DAMI"
print(dami.capitalize())

Dami

In [71]:
print(len("Tosin"))

5

In [72]:
A = [1, 2, "diya", True]
print("This is a test :", A)

This is a test : [1, 2, 'diya', True]

In [73]:
A[-2]

'diya'

In [74]:
for i in A:
    print(i)

1
2
diya
True

In [75]:
B = A.copy()

In [76]:
print(B)

[1, 2, 'diya', True]

In [77]:
B[:0]

[]

In [78]:
a_list = [3,5,6,12]

In [82]:
for i in a_list: 
    a = i%2 == 0
    print(a)

False
False
True
True

In [83]:
print([i%2 == 0 for i in a_list])

[False, False, True, True]